<script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBfEVdHbYh49e8UAfOAbX-U0H6qTj_2FDY&callback=console.debug&libraries=maps,marker&v=beta"></script>
<div class="map-text">
  <h1>Find us at:</h1>
  <h3>3539 Dorr St, Toledo, OH 43607</h2>
</div>
<gmp-map
  center="41.652687072753906,-83.62732696533203"
  zoom="14"
  map-id="DEMO_MAP_ID">
  <gmp-advanced-marker position="41.652687072753906,-83.62732696533203" title="My location"></gmp-advanced-marker>
</gmp-map>