<table>
  <tr>
    <th>DAY</th>
    <th>HOURS</th>
  </tr>
  <tr>
    <td>MONDAY</td>
    <td>CLOSED</td>
  </tr>
  <tr>
    <td>TUESDAY</td>
    <td>CLOSED</td>
  </tr>
  <tr>
    <td>WEDNESDAY</td>
    <td>6PM - 2AM</td>
  </tr>
  <tr>
    <td>THURSDAY</td>
    <td>6PM - 2AM</td>
  </tr>
  <tr>
    <td>FRIDAY</td>
    <td>6PM - 2AM</td>
  </tr>
  <tr>
    <td>SATURDAY</td>
    <td>6PM - 2AM</td>
  </tr>
  <tr>
    <td>SUNDAY</td>
    <td>CLOSED</td>
  </tr>
</table>