---
    permalink: /about/
---
{% include 'header.liquid' %}

<div class="about-container">

  <div class="about-text">
    Welcome to Chasers!
    The ultimate
    college bar and nightclub
    situated right next to the University of Toledo's bustling campus. 
    With a storied legacy spanning 18 years, Chasers has firmly established itself as the go-to destination for
    University of Toledo
    students and the wider community alike.
  </p>
</div>
  <div class="about-image">
    <img src="/assets/images/temp/chasers_outdoor.jpg">
    <img src="/assets/images/temp/chasers_fun.jpg">
  </div>
</div>
<div class="about-bottom-text">
  Our venue is at the epicenter of Toledo's vibrant college nightlife, offering an unparalleled experience for students seeking to unwind and create lasting memories.
  Chasers is celebrated
  for its expertly
  crafted cocktails, dynamic dance floors, and state-of-the-art light effects
  that transform every night into an electrifying event.
  Join us at Chasers,
  where the
  spirit of college life
  and the heart of
  Toledo's nightlife
  converge for
  unforgettable nights.

</div>
{% include 'footer.liquid' %}