---
    permalink: /contact/
---

{% include 'header.liquid' %}
<div class="contact-container">

  <h1>Contact Chasers</h1>

  <p>Phone:
    <a href="tel:4197753119">(419) 775-3119</a>
  </p>

  <p>Address: 3529 Dorr Street, Toledo, OH 43607</p>

</div>
<div class="overlay"></div>
{% include 'footer.liquid' %}