---
permalink: /
---
{% include 'header.liquid' %}
<div class="container">
  {% include 'banner.liquid' %}
</div>
<div class="hours">
  {% include 'schedule.liquid' %}
</div>
<div class="container">
  <div class="img-container">
    <img class="rocket-logo" src="/assets/images/temp/rockets_logo.png">
  </div>
  {% include 'map.liquid' %}
</div>
{% include 'footer.liquid' %}

<script>
  window.addEventListener('scroll', () => {
    document.body.style.setProperty('--scroll', window.scrollY / (document.body.offsetHeight - window.innerHeight));
  }, false);
</script>